body {
    position: relative;
    height: 100%;
    margin: auto;
    background-repeat: repeat;
}

nav {
    width: 15%;
    height: 100vh;
    overflow: scroll;
}

.box {
    border: solid 2px black;
    width: 99%;
    height: 85vh;

}

.foot {
    position: absolute;
    background-color: black;
    width: 100%;
    bottom: 0px;
    border-radius: 0px;
    height: 25px;
}

.message-input {
    position: absolute;
    width: 83%;
    bottom: 30px;
    right: 30px;
    border: solid 2px black;
}

.messages {
    margin-top: 10px;
    width: 100%;
    resize: none;
}

.btn {
    margin-top: 10px;
}

.text-white {
    color: ghostwhite;
}

.content {
    position: relative;
    min-height: calc(100vh - 0px);
}